@page
@model AppointmentRazor.Pages.AppointmentsModel
@{
    ViewData["Title"] = Localizer.Text("Appointments");

    var reportUrlActive = $"{ApiConfiguration.baseUrl}/appointment/download?skipCanceled=true";
    var reportUrl = $"{ApiConfiguration.baseUrl}/appointment/download?skipCanceled=false";
}

<h1 class="mb-4">@Localizer.Text("Appointments")</h1>

@{
    if (Model.Appointments == null)
    {
        var model = new ErrorSituationPartialViewModel
        {
            ImgUrl = "~/img/app_error.jpg",
            ErrorText = @Localizer.Text("Could not load the appointments")
        };
        <partial name="_ErrorSituationPartial" model='model' />
    }
    else if (Model.Appointments.Count == 0)
    {
        var model = new ErrorSituationPartialViewModel
        {
            ImgUrl = "~/img/no_app.jpg",
            ErrorText = @Localizer.Text("There are no appointments yet")
        };
        <partial name="_ErrorSituationPartial" model='model' />
    }
    else
    {
        <div class="row">
            <div class="col-8">
                <form method="post" asp-page="Appointments">
                    <div class="form-group">
                        <a class="btn btn-primary" asp-page-handler="ShowOnlyActive">
                            @Localizer.Text("Show only active")
                        </a>
                        <a class="btn btn-primary" asp-page-handler="ShowAll">
                            @Localizer.Text("Show all appointments")
                        </a>
                    </div>
                </form>
            </div>
            <div class="col-4">
                <a class="mx-2" href="@reportUrl">
                    @Localizer.Text("Download report")
                </a>
                <a class="mx-2" href="@reportUrlActive">
                    @Localizer.Text("Download report for active")
                </a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Localizer.Text("Appointment date")
                        </th>
                        <th>
                            @{
                                if (Model.IsShownForDoctor)
                                {
                                    @Localizer.Text("Patient")
                                }
                                else
                                {
                                    @Localizer.Text("Doctor")
                                }
                            }
                        </th>
                        <th>
                            @Localizer.Text("Reasons")
                        </th>
                        <th>
                            @Localizer.Text("Remarks")
                        </th>
                        <th>
                            @Localizer.Text("Status")
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in Model.Appointments)
                    {
                        <tr class="@(appointment.IsCanceled ? "table-danger" :  appointment.AppointmentDate > DateTime.UtcNow ? "table-warning" : "")">
                            <td>
                                @appointment.AppointmentDate.ToString("yyyy-MM-dd hh:mm")
                            </td>
                            <td>
                                @{
                                    if (Model.IsShownForDoctor)
                                    {
                                        @Html.DisplayFor(modelItem => appointment.Patient.FullName)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => appointment.Doctor.FullName)
                                    }
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model.LocalizedReasons[appointment.AppointmentId])
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => appointment.Description)
                            </td>
                            <td>
                                @{
                                    if (appointment.IsCanceled)
                                    {
                                        @Localizer.Text("Cancelled");
                                    }
                                    else if (appointment.AppointmentDate < DateTime.UtcNow)
                                    {
                                        @Localizer.Text("Made");
                                    }
                                    else
                                    {
                                        @Localizer.Text("In Future");
                                    }
                                }
                            </td>
                            <td>
                                @{
                                    if (appointment.AppointmentDate > DateTime.UtcNow && !appointment.IsCanceled)
                                    {
                                        <a class="btn btn-primary" asp-page-handler="CancelAppointment" asp-route-id="@appointment.AppointmentId">
                                            @Localizer.Text("Cancel appointment")
                                        </a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
}


