@page
@model AppointmentRazor.Areas.Patients.Pages.MakeAnAppointmentModel
@{
}

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <h3 class="text-center">@Localizer.Text("Make an appointment")</h3>
        <form method="post" asp-page="MakeAnAppointment">
            <div asp-validation-summary="All" class="alert-danger"></div>
            <div class="form-group">
                <label for="doctor">@Localizer.Text("Pick a doctor"):</label>
                <select name="selectedDoctorId" class="custom-select custom-select-lg mb-3" asp-for="SelectedDoctor" asp-items="Model.AvailableDoctors"></select>
                <span asp-validation-for="Appointment.Doctor" class="text-danger"></span>
                @{
                    if (Model.appointmentsSetResponse == AppointmentModel.Model.AppointmentSetResponse.DOCTOR_NOT_AVAILABLE)
                    {
                        <span class="text-danger">@Localizer.Text("Doctor not available")</span>
                    }
                }
            </div>
            <div class="form-group">
                <label for="reason">@Localizer.Text("Pick a reson"):</label>
                <select name="selectedReasonsIds" class="custom-select custom-select-lg mb-3" asp-for="SelectedResons" asp-items="Model.AvailableReasons"></select>
                <span asp-validation-for="Appointment.AppointmentReasons" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="date">@Localizer.Text("Pick a date"):</label>
                <input name="pickedDate" class="form-control" asp-for="Date" value="@Model.Date.ToString("yyyy-MM-dd\\Thh:mm")" />
                <span asp-validation-for="Appointment.AppointmentDate" class="text-danger"></span>
                @{
                    if (Model.appointmentsSetResponse == AppointmentModel.Model.AppointmentSetResponse.DATE_NOT_AVAILABLE)
                    {
                        <span class="text-danger">@Localizer.Text("Picked date not available")</span>
                    }
                }
            </div>
            <div class="form-group">
                <label for="doctor">@Localizer.Text("Add a note"):</label>
                <textarea asp-for="Appointment.Description" class="form-control" id="appointment__description"></textarea>
                <span asp-validation-for="Appointment.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">@Localizer.Text("Confirm")</button>
            </div>
        </form>
    </div>
</div>